#t7{
	display: flex;
	justify-content: left;
}

#t7 img {
		transform: scale(0.65, 0.65);

}

#form{
	position: relative;
	top: 4em;
	right: 4em;
}

#gitw{
	position: relative;
	left: 0.3em;
}

#form p{
	margin-top: 0;
	color: grey;
}

#fill{
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
}

#fln {
	display: flex;
	justify-content: space-around;
}

#fln input {
    border-radius: 25px;
    padding: 1.5em; 
    width: 15em;
    height: 0.01em; 
	border-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

}

#email{
	border-radius: 25px;
    padding: 1.5em; 
    width: 34em;
    height: 0.01em; 
	border-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#Message {
	text-align: start;
	border-radius: 25px;
    padding: 1.5em; 
    width: 34em;
    height: 15em; 
	border-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	resize: vertical;
}
#Message:hover{
	border-style: solid;
	border-color: #f9bb48;
} 
#t7 input:hover{
	border-style: solid;
	border-color: #f9bb48;
}

#form{
	/*padding-right: 3em;*/
}

@media screen and (min-width: 1349px) {
	#fln {
		display: flex;
		justify-content: space-between;
		width: 87%;
	}

	#fln input {
	    border-radius: 25px;
	    padding: 1.5em; 
	    width: 80%;
	    padding-left: 1em;
	    padding-right: 0em; 
	    width: 17em;
	    height: 0.01em; 
		border-style: none;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

	}

	#email{
		border-radius: 25px;
	    padding: 1.5em; 
	    width: 80%;
	    height: 0.01em; 
		border-style: none;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	}

	#Message {
		text-align: start;
		border-radius: 25px;
	    padding: 1.5em; 
	    width: 80%;
	    height: 15em; 
		border-style: none;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
		resize: vertical;
	}

}
