.girl{
	float: right;
	height:40%;
	width:40%;
	min-width: 200px;
	min-height: 200px;
}
.side{
	float: left;
	height:6%;
	width:6%;
}
.para1 {
	/*margin-left: 5%;*/
	position: relative;
	top:7em;

}

.a{
/*	border: solid;
	border-color: black;*/
	overflow: auto;
}

.Agency{
	color: #f9bb48;
}

p h1 {
	margin: 0 3em;
	font-weight: bold;
	font-size: 2.5em;

}
p h3 {
/*	position: relative;
	top: -0.5em;*/
	margin-left: 6.5em;
}
p p{
	margin-left: 7.5em;
}

#b1{
	margin-left: 2.5em;
	 }
	 
#slide{
display: flex;
justify-content: center;
}


#slide button{
	padding:0.30em 1.8em;
	background-color: white;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	font-weight:bold;
	border: solid;
	border-color: #f9bb48;
	color:white;
}

button#selected{
	background-color: #f9bb48;

}